body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #2D2D2D;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    display: block;
    background-color: #131313;
    position: fixed;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}
.header .header_title {
    font-size: 30px;
    color: #FFFFFF;
    float: left;
    margin-top: 17px;
    margin-bottom: 9px;
    margin-left: 17px;
    font-weight: bolder;
}

.social {
    background-color: #131313;
    margin-top: 90px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: inline-block;
    border-radius: 10px;
}
.social .social_title {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.social .github_link {
    width: 90px;
    height: 90px;
    background-color: #757575;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}
.social .github_link:hover {
    background-color: #8B8B8B;
    border-radius: 10px;
}
.social .github_link .github_link_img {
    margin: 10px;
}
.social .twitter_link {
    width: 90px;
    height: 90px;
    background-color: #757575;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}
.social .twitter_link:hover {
    background-color: #8B8B8B;
    border-radius: 10px;
}
.social .twitter_link .twitter_link_img {
    margin: 18px 10px 10px;
}

.programming {
    background-color: #131313;
    margin-top: 60px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: inline-block;
    border-radius: 10px;
}
.programming .programming_title {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.programming .programming_list {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
.programming .programming_list .disclaim {
    color: #B5B5B5;
    font-size: 12px;
}